<div class="container">
  <div class="row">
    <h1 class="head-line title_h2 text-center">予約ユーザー一覧</h1>
    <table class="user-reservations-table table">
      <thead>
        <tr>
          <th>予約者名</th>
          <th>予約プラン</th>
          <th>予約日時</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% user.reservations.each do |reservation| %>
            <tr>
              <td><%= user.full_name %> 様</td>
              <td><%= reservation.plan.name %></td>
              <td><%= reservation.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <td>
                <%= link_to "詳細", user_reservation_path(user, reservation), class: "btn btn-primary" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
