<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1 class="camp_site-title">
        キャンプ場一覧
        <strong><font size="3">(全<%= @camp_sites.count %>件)</font></strong>
      </h1>
      <div class="camp_sites-list">
        <% @camp_sites.each do |camp_site| %>
          <div class="camp-site-box">
            <%= link_to camp_site_path(camp_site) do %>
              <%#= attachment_image_tag camp_site, :image, fallback: 'no_image.jpeg', size: "190x150" %>
              <h3><%= camp_site.name %></h3>
              <p><%= camp_site.about %></p>
            <!--¥<%#= (camp_site.price*1.1).floor.to_s(:delimited) %>(税込)-->
            <% end %>
          </div>
        <% end %>
      </div>
      <%#= paginate @camp_sites %>
    </div>
  </div>
</div>
