/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";
@import 'jquery-ui/core';
@import 'jquery-ui/theme';
@import 'jquery-ui/datepicker';

.h_icon {
  text-align: left;
  margin-left: 20px;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  heigth: 80px;
  background-color: #777777;
  z-index: 100;
}

footer {
  background-color: #777777;
  left: 0;
  width: 100%;
  heigth: 80px;
  bottom: 0;
  position: fixed;
  z-index: 100;
}

body {
  margin-top: 80px;
  margin-bottom: 80px;
}

.camp-site-box {
  /* From https://css.glass */
  background: rgba(250, 250, 250, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  cursor: pointer;
}

.camp-site-box h3 {
  color: black;
  text-decoration: none;
}

.camp-site-box p {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.plan-box {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);

  // display: flex;
  // align-items: center;
  // padding: 10px;
}

// .plan-box a.btn {
//   display: inline-block;
//   padding: 10px 20px;
//   border-radius: 8px;
//   background-color: #007bff;
//   color: white;
//   text-decoration: none;
//   transition: background-color 0.3s, color 0.3s;
// }

// .plan-box a.btn:hover {
//   background-color: #0056b3;
// }

// .plan-box a.btn {
//   margin-right: auto;
//   margin-left: 0;
//   width: 150px;
// }

.plan-bottom {
  text-align: center;
  width: 150px;
  margin: 0 auto;
}

.full-day {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

.h_icon_link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}